.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.container{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
*{
	text-transform: uppercase;
	font-family: bold;
}
th{
	text-align: left;
}
body,section{
	margin: 0px;
	padding: 0px;
}
header{
	background: url("main_background_fon.png") no-repeat center top/cover;
	height:1022px;
}
.menu_section{
	font-size: 12px;
	margin: 0px 0px 0px 310px;
	width: 1300px;
}
.menu_section > ul{
	display: inline-block;
	padding:0px;
}
.menu_section   li{
	float: left;
	margin: 10px;
	list-style: none;
}
.second_row > .line{
	border-right: 1px solid black;
	height: 20px;
}
.menu_section  li:hover{
	color: #a7d2db; cursor: pointer;
}
.empty_leg{
	margin: 60px 0px 0px 450px;
	width: 400px;
}
.benefits{
	position: relative;
	background-color: #a7d2db; 
	height: 400px;
}
.benefits_list{
	position: absolute;
	margin: 130px 0px 0px 0px;
	width: 1260px;
	height: 135px;
}
.benefits_list .benefit_item{
	margin: 0px 30px;
	display: inline-block;
}

.actual_flights{
	position: relative;
	background: url("9db77648f1.png") no-repeat center top/cover;         
	height: 1600px;
}
.container .header_box{
	position: absolute;
	width: 630px;
	margin: 80px 30px 30px 320px;
}
.header_box p{
	letter-spacing: 1.8em;
	text-align: center;
}
.header_box h2{
	margin: 30px 0px;
	text-align: center;
}
.selected_flight .triangle{
	margin: 0px auto;
	height: 0px;
	width: 0px;
	border-top: 20px solid #a7d2db;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.popup{
	text-align: center;
	margin-top: 50px;
}
table{
	position: absolute;
	margin: 390px 0px 0px 150px;
	width: 1120px;
	height: 915px;
}
table tr > td + td + td + td:hover{
	color: #a7d2db;
	cursor: pointer;
}
.more_flights{
	position: absolute;
	display: inline-block;
	background-color: #a7d2db;
	margin: 1429px 0px 0px 550px;
	height: 53px;
	width: 180px;
	text-align: center;
	color: #555555;
}
.more_flights .triangle{
	position: absolute;
	left: 150px;
	top: 20px;
	height: 0px;
	width: 0px;
	border-top: 6px solid transparent;
	border-left: 7px solid #555555;
	border-bottom: 6px solid transparent;
}
footer{
	background-color: #1c1c1c;
	height: 647px;
}





